<%- include("./head") %>
<% if ((typeof error !== 'undefined') && error) { %><div><%- error %></div><% } %>
        <form method="POST">
            <label for="password">Old password
                <input type="password" name="password">
            </label>
            <label for="newPassword">New password
                <input type="password" name="newPassword">
            </label>
            <label for="repeatNewPassword">New password
                <input type="password" name="repeatNewPassword">
            </label>
            <button type="submit">Change password</button>
        </form>
<%- include("./head") %>